{% extends '../../../../public' %}

{% block title %}Not Found{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oups ! The page your are looking for, doesn't exist.</h1>
        <div class="alert alert-danger mt-4 mb-4">
            <p>
                <strong> Do not worry, you can go back to the home page or review ou latest announcements</strong>
            </p>
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-secondary">Go to the home page</a>
        <a href="{{ path('ads_list') }}" class="btn btn-warning">All the announcements</a>
    </div>
{% endblock %}