<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NotBNB - {% block title %}{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'pub/partials/header.html.twig' %}

{% block body %}{% endblock %}

{% include 'pub/partials/footer.html.twig' %}

{{ encore_entry_script_tags('app') }}
<script>
    function onClickBtnLike(event) {
        event.preventDefault();

        const spanLikes = this.querySelector('span.js-likes');
        const icon = this.querySelector('i');
        const url = this.href;

        axios.get(url).then(function (response) {
            spanLikes.textContent = response.data.likes;
            if (icon.classList.contains('fas')) {
                icon.classList.replace('fas', 'far');
                return;
            }
            icon.classList.replace('far', 'fas');
        }).catch(function (error) {
            alert(error.response.data.message);
        })
    }

    document.querySelectorAll('a.js-like').forEach(function (link) {
        link.addEventListener('click', onClickBtnLike);
    })
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
