{% extends 'pub/base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light p-3 clearfix">
                    <h1>Resetting password</h1>
                    <hr>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary float-right">
                        <i class="fas fa-check mr-1"></i>Reset
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}