{% extends 'pub/base.html.twig' %}

{% block title %}Our ads{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h1 my-3">Our best announcements</h2>

        <div class="row">
            {% for ad in ads %}
                {% include 'pub/ad/_announcement.html.twig' with {'ad': ad} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
